#upload-image-admin {
  background: none;
  border: none;
}
.showcase_row_area .showcase_text_area {
  text-align: left;
}
.autocomplete {
  background: #f8f9fb;
  top: 82%;
  width: 97%;
  z-index: 1;
  padding-left: 11px;
  text-transform: capitalize;
}
.autocomplete li {
  border-bottom: 1px solid #e3e3e3;
}
#add-product-category {
  text-transform: capitalize;
}
.owl-item:hover::before {
  content: '';
  position: absolute;
  transition: all 0.2s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000070;
}
.owl-item:hover::after {
  content: 'x';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
}
