.bootstrap-tagsinput {
  width: 100%;
  background: #f8f9fb;
}
.bootstrap-tagsinput .tag {
  background: #696ffb;
  border-radius: 3px;
  padding: 2px 6px;
  text-transform: uppercase;
  margin-bottom: 3px;
  display: inline-block;
}
#upload-image-admin {
  background: none;
  border: none;
}
.showcase_row_area .showcase_text_area {
  text-align: left;
}
