head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Label - Premium Responsive Bootstrap 4 Admin & Dashboard Template
    // plugins:css
    link(rel='stylesheet' href='/admin/vendors/iconfonts/mdi/css/materialdesignicons.css')
    // endinject
    // vendor css for this page
    // End vendor css for this page
    // inject:css
    link(rel='stylesheet' href='/admin/css/shared/style.css')
    // endinject
    // Layout style
    link(rel='stylesheet' href='/admin/css/demo_1/style.css')
    // Layout style
    link(rel='shortcut icon' href='/admin/images/favicon.ico')
    link(rel='stylesheet' href='/admin/css/style.css')
    block head