title Home
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
// ===============================================================================================
link(rel='icon' type='image/png' href='/images/icons/favicon.png')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/vendor/bootstrap/css/bootstrap.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/fonts/iconic/css/material-design-iconic-font.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/fonts/linearicons-v1.0.0/icon-font.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/css/mdb.min.css')
// ===============================================================================================

link(rel='stylesheet' type='text/css' href='/css/util.css')
link(rel='stylesheet' type='text/css' href='/css/main.css')
// ===============================================================================================
// Header
