p= message
header.header-v4
  // Header desktop
  .container-menu-desktop
    // Topbar
    .top-bar
      .content-topbar.flex-sb-m.h-full.container
        .left-top-bar
          | Free shipping for standard order over $100
        .right-top-bar.flex-w.h-full
          a.flex-c-m.trans-04.p-lr-25(href='#')
            | Help &amp; FAQs
          a.flex-c-m.trans-04.p-lr-25(href='#')
            | My Account
          a.flex-c-m.trans-04.p-lr-25(href='#')
            | EN
          a.flex-c-m.trans-04.p-lr-25(href='#')
            | USD
    .wrap-menu-desktop
      nav.limiter-menu-desktop.container
        // Logo desktop
        a.logo(href='#')
          img(src='/images/icons/logo-01.png' alt='IMG-LOGO')
        // Menu desktop
        .menu-desktop
          ul.main-menu
            li.active-menu
              a(href='/') Home
              ul.sub-menu
                li
                  a(href='index.html') Homepage 1
                li
                  a(href='home-02.html') Homepage 2
                li
                  a(href='home-03.html') Homepage 3
            li
              a(href='/product') Shop
            li.label1(data-label1='hot')
              a(href='shoping-cart.html') Features
            li
              a(href='blog.html') Blog
            li
              a(href='about.html') About
            li
              a(href='contact.html') Contact
        // Icon header
        .wrap-icon-header.flex-w.flex-r-m
          .icon-header-item.cl2.hov-cl1.trans-04.p-l-22.p-r-11.js-show-modal-search
            i.zmdi.zmdi-search
          .icon-header-item.cl2.hov-cl1.trans-04.p-l-22.p-r-11.icon-header-noti.js-show-cart(data-notify= cart.cartProducts.length)
            i.zmdi.zmdi-shopping-cart
          a.dis-block.icon-header-item.cl2.hov-cl1.trans-04.p-l-22.p-r-11.icon-header-noti(href='#' data-notify='0')
            i.zmdi.zmdi-favorite-outline
  // Header Mobile
  .wrap-header-mobile
    // Logo moblie
    .logo-mobile
      a(href='index.html')
        img(src='/images/icons/logo-01.png' alt='IMG-LOGO')
    // Icon header
    .wrap-icon-header.flex-w.flex-r-m.m-r-15
      .icon-header-item.cl2.hov-cl1.trans-04.p-r-11.js-show-modal-search
        i.zmdi.zmdi-search
      .icon-header-item.cl2.hov-cl1.trans-04.p-r-11.p-l-10.icon-header-noti.js-show-cart(data-notify='2')
        i.zmdi.zmdi-shopping-cart
      a.dis-block.icon-header-item.cl2.hov-cl1.trans-04.p-r-11.p-l-10.icon-header-noti(href='#' data-notify='0')
        i.zmdi.zmdi-favorite-outline
    // Button show menu
    .btn-show-menu-mobile.hamburger.hamburger--squeeze
      span.hamburger-box
        span.hamburger-inner
  // Menu Mobile
  .menu-mobile
    ul.topbar-mobile
      li
        .left-top-bar
          | Free shipping for standard order over $100
      li
        .right-top-bar.flex-w.h-full
          a.flex-c-m.p-lr-10.trans-04(href='#')
            | Help &amp; FAQs
          a.flex-c-m.p-lr-10.trans-04(href='#')
            | My Account
          a.flex-c-m.p-lr-10.trans-04(href='#')
            | EN
          a.flex-c-m.p-lr-10.trans-04(href='#')
            | USD
    ul.main-menu-m
      li
        a(href='index.html') Home
        ul.sub-menu-m
          li
            a(href='index.html') Homepage 1
          li
            a(href='home-02.html') Homepage 2
          li
            a(href='home-03.html') Homepage 3
        span.arrow-main-menu-m
          i.fa.fa-angle-right(aria-hidden='true')
      li
        a(href='product.html') Shop
      li
        a.label1.rs1(href='shoping-cart.html' data-label1='hot') Features
      li
        a(href='blog.html') Blog
      li
        a(href='about.html') About
      li
        a(href='contact.html') Contact
  // Modal Search
  .modal-search-header.flex-c-m.trans-04.js-hide-modal-search
    .container-search-header
      button.flex-c-m.btn-hide-modal-search.trans-04.js-hide-modal-search
        img(src='/images/icons/icon-close2.png' alt='CLOSE')
      form.wrap-search-header.flex-w.p-l-15
        button.flex-c-m.trans-04
          i.zmdi.zmdi-search
        input.plh3(type='text' name='search' placeholder='Search...')