extends layout
block append header
	// ===============================================================================================
	link(rel='stylesheet', type='text/css', href='/vendor/animate/animate.css')
	// ===============================================================================================
	link(rel='stylesheet', type='text/css', href='/vendor/css-hamburgers/hamburgers.min.css')
	// ===============================================================================================
	link(rel='stylesheet', type='text/css', href='/vendor/animsition/css/animsition.min.css')
	// ===============================================================================================
	link(rel='stylesheet', type='text/css', href='/vendor/select2/select2.min.css')
	// ===============================================================================================
	link(rel='stylesheet', type='text/css', href='/vendor/daterangepicker/daterangepicker.css')
	// ===============================================================================================
	link(rel='stylesheet', type='text/css', href='/vendor/slick/slick.css')
	// ===============================================================================================
	link(rel='stylesheet', type='text/css', href='/vendor/MagnificPopup/magnific-popup.css')
	// ===============================================================================================
	link(rel='stylesheet', type='text/css', href='/vendor/perfect-scrollbar/perfect-scrollbar.css')
block content
	//- include includes/cart
	// breadcrumb
	.container
		.bread-crumb.flex-w.p-l-25.p-r-15.p-t-30.p-lr-0-lg
			a.stext-109.cl8.hov-cl1.trans-04(href='/')
				| Home
				i.fa.fa-angle-right.m-l-9.m-r-10(aria-hidden='true')
			a.stext-109.cl8.hov-cl1.trans-04(href='/order')
				| Order
				i.fa.fa-angle-right.m-l-9.m-r-10(aria-hidden='true')
	.container
		.jumbotron.bg-light.text-center.mt-5(style="color:#717fe0")
			h1.display-4 Success!
block footer
	// ===============================================================================================
	script(src='vendor/jquery/jquery-3.2.1.min.js')
	// ===============================================================================================
	script(src='vendor/animsition/js/animsition.min.js')
	// ===============================================================================================
	script(src='vendor/bootstrap/js/popper.js')
	script(src='vendor/bootstrap/js/bootstrap.min.js')
	// ===============================================================================================
	script(src='vendor/select2/select2.min.js')
	script.
		$(".js-select2").each(function(){
		$(this).select2({
		minimumResultsForSearch: 20,
		dropdownParent: $(this).next('.dropDownSelect2')
		});
		})
	// ===============================================================================================
	script(src='vendor/MagnificPopup/jquery.magnific-popup.min.js')
	// ===============================================================================================
	script(src='vendor/perfect-scrollbar/perfect-scrollbar.min.js')
	script.
		$('.js-pscroll').each(function(){
		$(this).css('position','relative');
		$(this).css('overflow','hidden');
		var ps = new PerfectScrollbar(this, {
		wheelSpeed: 1,
		scrollingThreshold: 1000,
		wheelPropagation: false,
		});
		$(window).on('resize', function(){
		ps.update();
		})
		});
	// ===============================================================================================
	script(src='js/main.js')
	script(src='js/shopping-cart.js')
	script.
		$('.price').each(function(){
			$(this).text(Number(parseInt($(this).text()).toFixed(1)).toLocaleString())
		})
